#subtitle5 {
    font-size: 8rem !important;
    font-weight: 700;
    text-align: center;
    color: crimson;
}

#subtitle2 {
    font-size: 3rem !important;
    font-weight: 300;
    text-align: center;
}

#subtitle3 {
    font-size: 2.00rem !important;
    font-weight: 300;
    text-align: center;
}

@media screen and (max-width: 600px) {
    #subtitle5 {
      font-size: 4rem;
    }
    #subtitle2 {
        font-size: 3rem;
      }
      #subtitle3 {
        font-size: 1.2rem;
      }
  }

  