#background {
    background-color: #0f0c10;
    background-size: cover;
    background-position: center;
    z-index: -2;
}

.circle-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circle-area li {
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background: rgb(255, 255, 255);
    animation: animate 20s linear infinite;
    bottom: -300px;
}

.circle-area li:nth-child(1) {
    left: 86%;
    width: 300px;
    height: 300px;
    animation-delay: 4s;
}

.circle-area li:nth-child(2) {
    left: 12%;
    width: 30px;
    height: 30px;
    background: #ff958b;
    animation-delay: 1.5s;
    animation-duration: 10s;
}

.circle-area li:nth-child(3) {
    left: 30%;
    width: 250px;
    height: 250px;
    animation-delay: 2.5s;
    animation-duration: 20s;
}

.circle-area li:nth-child(4) {
    left: 60%;
    width: 50px;
    height: 50px;
    animation-delay: 1.0s;
    animation-duration: 12s;
}

.circle-area li:nth-child(5) {
    left: 75%;
    width: 100px;
    height: 100px;
    animation-delay: 0s;
    animation-duration: 17s;
}

.circle-area li:nth-child(6) {
    left: 15%;
    width: 150px;
    height: 150px;
    animation-delay: 0.5s;
    animation-duration: 19s;
}

.circle-area li:nth-child(7) {
    left: 10%;
    bottom: -100%;
    width: 600px;
    height: 600px;
    animation-delay: 5s;
    animation-duration: 30s;
}

.circle-area li:nth-child(8) {
    left: 65%;
    width: 100px;
    height: 100px;
    animation-delay: 1s;
    animation-duration: 16s;
}

.circle-area li:nth-child(9) {
    left: 50%;
    width: 400px;
    bottom: -90%;
    height: 400px;
    animation-delay: 2s;
    animation-duration: 20s;
}

.circle-area li:nth-child(10) {
    left: 18%;
    width: 30px;
    height: 30px;
    animation-delay: 0s;
    animation-duration: 14s;
}

.circle-area li:nth-child(11) {
    left: 29%;
    width: 35px;
    height: 35px;
    animation-delay: 1s;
    animation-duration: 15s;
}

@keyframes animate {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    40% {
        background: white;
    }

    80% {
        background: rgb(81, 200, 255);
    }

    100% {
        transform: translateY(-1400px);
        opacity: 1;
    }
}

@media screen and (max-width: 600px) {
    .circle-area li {
        max-width: 0;
        max-height: 0;
    }
}